 <!DOCTYPE html>
 <html>
 <head>
 	<title>result page</title>

 </head>
 <body>
 <div class="result_data"></div>

    <%   jsonString = JSON.parse(result_data); %>
                
                <%for (var key in jsonString) { %>
                <%= jsonString[key] %><br>
          <% }%>
    
    
 
 </body>
 </html>
   